extends layout_sub

block content
    h1 #{title}
      
    form(method='POST',action='/tournament')
      #form-group
        label Nombre:
        input.form-control(name = 'nombre', type = 'text', id= 'txtNombre')
      #form-group
        label Descripción:
        input.form-control(name = 'descripcion', type = 'text', id = 'txt_descripcion')
      #form-group
        label Fecha de inicio:
        input.form-control(name = 'fecha_inicio', type = 'date', id = 'txtFechaInicio')
      #form-group
        label Fecha de fin:
        input.form-control(name = 'fecha_fin', type = 'date', id = 'txtFechaFin')
      #form-group
        label Máximo equipos:
        input.form-control(name = 'maximo_equipos', type = 'number', id= 'numMaximoEquipos')
      #form-group
        label URL Imagen del torneo:
        input.form-control(name = 'url_imagen', type = 'text', id = 'txtUrlImagen')
      br
      input.btn.btn-primary(type='submit',value='Registrar')                