extends layout_sub

block content
    h1 #{title}
      
    form(method='POST',action='/tournament')
      #form-group
        label Nombre:
        input.form-control(name = 'nombre', type = 'text')
      #form-group
        label Descripción:
        input.form-control(name = 'descripcion', type = 'text')
      #form-group
        label Fecha de inicio:
        input.form-control(name = 'fecha_inicio', type = 'date')
      #form-group
        label Fecha de fin:
        input.form-control(name = 'fecha_fin', type = 'date')
      #form-group
        label Máximo equipos:
        input.form-control(name = 'maximo_equipos', type = 'number')
      #form-group
        label URL Imagen del torneo:
        input.form-control(name = 'url_imagen', type = 'text')
      br
      input.btn.btn-primary(type='submit',value='Registrar')                