extends layout

block content
    h1 #{title}

    a(href='/tournament/new') Nuevo torneo

    ul
      each val in tournaments
        li
          a(href='/tournament/' + val.id) #{val.name + ' ' + val.description + ' ' + val.first_day + ' ' + val.last_day + ' ' + val.max_teams + ' ' + val.url_to_image}